<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Enseignant</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER DESKTOP-->
    <header th:replace="~{../templates/fragments/header_parent :: header_parent}">
    </header>
    <!-- END HEADER DESKTOP -->

    <!-- PAGE CONTENT-->
    <div class="page-container3">
        <section class="alert-wrap p-t-70 p-b-70">
            <div class="container">
                <!-- ALERT-->
                <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per" role="alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    <span th:if="${success}" class="content" th:text="${success}">Vous etes connecter successivement a votre compte</span>
                    <span th:unless="${success}" class="content">Vous etes connecter successivement a votre compte</span>
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                    </button>
                </div>
                <!-- END ALERT-->
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div th:replace="~{../templates/fragments/sidebar_parent :: sidebar_parent}">
                    </div>
                    <div class="col-xl-9">
                        <!-- PAGE CONTENT-->
                        <div class="page-content">

                            <h2>Ensemble des reponses aux differents devoirs</h2>
                            <div class="row"  >
                                <div class="col-lg-4 col-md-6 my-2" th:each="reponse : ${lists}">
                                    <button type="button" data-toggle="modal" data-target="#detailReponseModal" th:attr="data-target='#detailReponseModal'+${reponse?.id}">
                                        <div class="alert alert-light row text-center" role="alert">
                                            <p><strong>Date du : </strong><span  th:text="${reponse?.date}"></span></p>
                                            <br>
                                            <p><strong>Titre : </strong><span class="text-primary underline" th:text="${reponse?.title}"></span></p>
                                            <br>
                                            <p><strong>Auteur : </strong><span class="text-primary underline" th:text="${reponse?.compte.username}"></span></p>
                                    </div>
                                    </button>
                                    <div class="modal fade" th:id="detailReponseModal+${reponse?.id}" tabindex="-1" role="dialog" aria-labelledby="detailReponseModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="detailModalLabel">Detail reponse</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body card-block">
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label  class=" form-control-label">Classe</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${reponse?.salle}">Prenom de l'enseignant</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label  class=" form-control-label">Titre</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${reponse?.title}">Prenom de l'enseignant</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label  class=" form-control-label">Contenue</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${reponse?.content}">Nom de l'enseignant</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label  class=" form-control-label">Fichier join</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <a th:href="${reponse?.fichier}"><small class="form-text text-muted" >Voir le fichier</small></a>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label  class=" form-control-label">Etat</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-success" th:if="${reponse?.status}== true" >Deja vu par l'enseignant</small>
                                                                <small class="form-text text-warning" th:unless="${reponse?.status}== true" >non vu par l'enseignant</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- COPYRIGHT-->
                            <section th:replace="~{../templates/fragments/footer :: footer}"></section>

                            <!-- END COPYRIGHT-->
                        </div>
                        <!-- END PAGE CONTENT-->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END PAGE CONTENT  -->

</div>

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>

</body>

</html>
<!-- end document-->