<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Enseignant</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER DESKTOP-->
    <header th:replace="~{../templates/fragments/header_enseignant :: header_enseignant}">
    </header>
    <!-- END HEADER DESKTOP -->

    <!-- PAGE CONTENT-->
    <div class="page-container3">
        <section class="alert-wrap p-t-70 p-b-70">
            <div class="container">
                <!-- ALERT-->
                <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per" role="alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    <span th:if="${success}" class="content" th:text="${success}">Vous etes connecter successivement a votre compte</span>
                    <span th:unless="${success}" class="content">Vous ètes connecté successivement a votre compte</span>
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                    </button>
                </div>
                <!-- END ALERT-->
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div th:replace="~{../templates/fragments/sidebar_enseignant :: sidebar_enseignant}">
                    </div>
                    <div class="col-xl-9">
                        <!-- PAGE CONTENT-->
                        <div class="page-content">

                            <button type="button" data-toggle="modal" data-target="#addDevoirModal" class="btn btn-primary">Nouveau devoir&nbsp;<i class="zmdi zmdi-plus"></i></button>
                            <hr>
                            <h2>Ensemble des devoirs de la classe : <span th:text="${classe.niveau}"></span></h2>
                            <hr>
                            <div class="row"  >
                                <div class="col-lg-12">
                                    <table class="table table-bordered" id="add-row">
                                        <thead>
                                        <th>Date d'ajout du devoir</th>
                                        <th>Titre du devoir</th>
                                        <th>ACTION</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="devoir : ${lists}">
                                            <td><span  th:text="${devoir?.date}"></span></td>
                                            <td><span class="text-primary underline" th:text="${devoir?.title}"></span></td>
                                            <td>
                                                <button type="button" class="text-success" data-toggle="modal" data-target="#detailDevoirModal" th:attr="data-target='#detailDevoirModal'+${devoir?.id}"><i class="fas fa-eye"></i></button>
                                                <button type="button" class="text-danger" data-toggle="modal" data-target="#deleteModal"  th:attr="data-target='#deleteModal'+${devoir?.id}"><i class="fas fa-trash"></i></button>
                                            </td>
                                            <div class="modal fade" th:id="deleteModal+${devoir?.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Supprimer Devoir</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body card-block">
                                                            <p>Vous voulez vraiment supprimer ce devoir??</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                            <a  class="btn btn-primary" th:href="@{/enseignant/devoirs/delete/}+${devoir?.id}+'/'+${classe.id}">Supprimer</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" th:id="detailDevoirModal+${devoir?.id}" tabindex="-1" role="dialog" aria-labelledby="detailDevoirModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="detailModalLabel">Detail devoir</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body card-block">
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Classe</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${devoir?.salle}">Prenom de l'enseignant</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Titre</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${devoir?.title}">Prenom de l'enseignant</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Contenue</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${devoir?.content}">Nom de l'enseignant</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Fichier join</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <a th:if="${devoir?.fichier}" th:href="${devoir?.fichier}"><small  >Telecharger le fichier</small></a>
                                                                    <a th:unless="${devoir?.fichier}" ><small class="form-text text-muted" >Aucun fichier charger</small></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                            <a th:href="@{/enseignant/devoir/update/}+${devoir.id}" class="btn btn-primary" >Editer</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <!-- END PAGE CONTENT-->
                    </div>
                </div>
                <!-- COPYRIGHT-->
                <section th:replace="~{../templates/fragments/footer :: footer}"></section>

                <!-- END COPYRIGHT-->
            </div>
        </section>
    </div>
    <!-- END PAGE CONTENT  -->
    <!-- modal medium -->
    <div class="modal fade" id="addDevoirModal" tabindex="-1" role="dialog" aria-labelledby="addDevoirModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form th:action="@{/enseignant/devoirs/save}" autocomplete="off" method="post" th:object="${devoir}" enctype="multipart/form-data" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Nouveau devoir</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body card-block">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-title" class=" form-control-label">Titre</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-title" th:field="*{title}" placeholder="Titre" class="form-control">
                                <small class="form-text text-muted">Titre du devoir</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-content" class=" form-control-label">Contenue</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea th:field="*{content}" id="text-content" class="form-control" rows="15" placeholder="Contenue"></textarea>
                                <small class="form-text text-muted">Ajouter un resumer du devoir</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-salle" class=" form-control-label">Classe concerne</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select th:field="*{salle}" id="text-salle" class="form-control">
                                    <option value="">Choisir</option>
                                    <option th:each=" item : ${salles}" th:value="${item.niveau}" th:text="${item.niveau}">Choisir</option>
                                </select>
                                <small class="form-text text-muted">Choisir la classe concerner par ce devoir </small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-file" class=" form-control-label">Fichier numerique</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="file" id="text-file" name="file"  class="form-control-file">
                                <small class="form-text text-muted">Charger un support numerique </small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                        <button type="submit" class="btn btn-primary">Creer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal medium -->

</div>

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>
<script >
    $(document).ready(function() {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 10,
        });

    });
</script>
</body>

</html>
<!-- end document-->