<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Enseignant</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">


    <script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/message.css}" rel="stylesheet">

</head>

<body class="animsition">
<div th:replace="~{../templates/fragments/video_container :: video_container}"></div>

<div class="page-wrapper" id="body">
    <!-- HEADER DESKTOP-->
    <header th:replace="~{../templates/fragments/header_enseignant :: header_enseignant}">
    </header>
    <!-- END HEADER DESKTOP -->

    <!-- WELCOME-->
    <section th:replace="~{../templates/fragments/home_welcome_enseignant :: home_welcome_enseignant}"></section>
    <!-- END WELCOME-->

    <!-- PAGE CONTENT-->
    <div class="page-container3">
        <section class="alert-wrap p-t-70 p-b-70">
            <div class="container">
                <!-- ALERT-->
                <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per" role="alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    <span th:if="${success}" class="content" th:text="${success}">Vous etes connecter successivement a votre compte</span>
                    <span th:unless="${success}" class="content">Vous ètes connecté successivement a votre compte</span>
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                    </button>

                </div>

                <div th:if="${error}" class="alert au-alert-warning alert-dismissible fade show au-alert au-alert--70per" role="alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    <span  class="content" th:text="${error}">Vous etes connecter successivement a votre compte</span>
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                    </button>
                </div>
                <!-- END ALERT-->
            </div>
        </section>
        <section>
            <div class="container">

                <div class="row">
                    <div th:replace="~{../templates/fragments/sidebar_enseignant :: sidebar_enseignant}">
                    </div>
                    <div class="col-xl-9">
                        <!-- PAGE CONTENT-->
                        <div class="page-content row">
                            <div class="col-md-6">
                                <a th:href="@{/enseignant/eleves/lists}">
                                    <div class="statistic__item statistic__item--green" style="height: 258px">
                                    <h2 class="numer">Gestion des élèves</h2>
                                    <span class="desc text-white">Ajouter, modifier, consulter des informations sur des eleves de votre classe principale</span>
                                </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a th:href="@{/enseignant/classe/lists}">
                                    <div class="statistic__item statistic__item--green" style="height: 258px">
                                    <h2 class="numer">Ensemble des classes</h2>
                                    <span class="desc text-white">Planifier votre temps pour toutes les classes ou vous donnez cours</span>
                                </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <button  type="button" data-toggle="modal" data-target="#coursModal" >
                                    <div class="statistic__item statistic__item--green" style="height: 258px">
                                    <h2 class="numer">Gestion des cours</h2>
                                    <span class="desc text-white">Vous pouvez ajouter des cours et devoirs en ligne ici pour completer les eleves depuis leurs domiciles</span>
                                </div>
                                </button>
                            </div>
                            <div class="modal fade" th:id="coursModal" tabindex="-1" role="dialog" aria-labelledby="coursModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="coursModalLabel">Liste des classes</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body card-block">
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label  class=" form-control-label">Classes</label>
                                                </div>
                                                <div class="col-12 col-md-9" th:each="classe : ${salles}">
                                                    <a th:href="@{/enseignant/cours/lists/}+${classe.id}"><small class="form-text text-muted" th:text="${classe?.niveau}">Nom de l'enseignant</small></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <button  type="button" data-toggle="modal" data-target="#messagesModal" >
                                    <div class="statistic__item statistic__item--green" style="height: 258px">
                                    <h2 class="numer">Espace communication</h2>
                                    <span class="desc text-white">Consultez et envoyez des messages a des multiples personnes de votre choix</span>
                                </div>
                                </button>
                            </div>
                            <div class="modal fade" th:id="messagesModal" tabindex="-1" role="dialog" aria-labelledby="messagesModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="messagesModalLabel">Liste des classes</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body card-block">
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label  class=" form-control-label">Classes</label>
                                                </div>
                                                <div class="col-12 col-md-9" th:each="classe : ${salles}">
                                                    <a th:href="@{/enseignant/message/}+${classe.id}"><small class="form-text text-muted" th:text="${classe?.niveau}">Nom de l'enseignant</small></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- END PAGE CONTENT-->
                    </div>
                </div>
                <div th:replace="~{../templates/fragments/choice :: choice}">


                <!-- COPYRIGHT-->
                <section th:replace="~{../templates/fragments/footer :: footer}"></section>

                <!-- END COPYRIGHT-->
            </div>
        </section>
    </div>
    <!-- END PAGE CONTENT  -->

</div>
<div th:replace="~{../templates/fragments/contacts :: contacts}"></div>
<div id="forumDiv" class="forumDiv p-2">
    <div class="d-flex flex-row align-self-start justify-content-end w-100">
        <i id="forumCloseBtn" class="zmdi zmdi-close zmdi-hc-2x font-weight-bold text-danger"></i>
    </div>
    <div id="chatRoom">

    </div>
    <div class="d-flex flex-row justify-content-between align-items-center align-self-end w-100 ">
        <input type="hidden" th:value="${ecole?.id}" id="ecoleId" >
        <input type="text" placeholder="Votre message" class="form-control" id="forumMessage" />
        <button class="btn btn-primary" id="forumSendBtn"><i class="zmdi zmdi-forward"></i></button>
    </div>
</div>
<!-- Jquery JS-->
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>
<div th:replace="~{../templates/fragments/voxeetScript :: voxeetScript}"></div>
<!-- Main JS-->

<script th:src="@{/js/main.js}"></script>

</body>

</html>
<!-- end document-->
