<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Direction</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER DESKTOP-->
    <header th:replace="~{../templates/fragments/header :: header}">
    </header>
    <!-- END HEADER DESKTOP -->

    <!-- PAGE CONTENT-->
    <div class="page-container3">
        <section class="alert-wrap p-t-70 p-b-70">
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div th:replace="~{../templates/fragments/sidebar_director :: sidebar_director}">
                    </div>
                    <div class="col-xl-9">
                        <!-- PAGE CONTENT-->
                        <div class="page-content">

                            <h2>Modification d'un enseignant</h2>
                            <div class="row"  >
                                <form th:action="@{/direction/enseignant/update}" autocomplete="off" method="post" th:object="${teacher}" class="form-horizontal" enctype="multipart/form-data">
                                    <div class="card-body card-block">
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-prenom" class=" form-control-label">Prénom</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-prenom" th:field="*{prenom}" placeholder="Prenom" class="form-control">
                                                <input type="hidden" id="text-id" th:field="*{id}" placeholder="Prenom" class="form-control">
                                                <small class="form-text text-muted">Prénom de l'enseignant</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-nom" class=" form-control-label">Nom</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-nom" th:field="*{name}" placeholder="Nom" class="form-control">
                                                <small class="form-text text-muted">Nom de l'enseignant</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-telephone" class=" form-control-label">Téléphone</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-telephone" th:field="*{telephone}" placeholder="Telephone" class="form-control">
                                                <small class="form-text text-muted">Numero de téléphone</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-email" class=" form-control-label">E-mail</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="email" id="text-email" th:field="*{email}" placeholder="E-mail" class="form-control">
                                                <small class="form-text text-muted">Adresse email</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-whatsapp" class=" form-control-label">Whatsapp</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-whatsapp" th:field="*{whatsapp}" placeholder="Whatsapp" class="form-control">
                                                <small class="form-text text-muted">Numero de téléphone whatsapp</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-cours" class=" form-control-label">Cours enseigné</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-cours" name="cour_enseigners" placeholder="Cours" class="form-control">
                                                <input type="text"  th:field="*{cour_enseigner}" style="display: none" placeholder="Cours" class="form-control">
                                                <small class="form-text text-muted">Cours enseigné <span th:each="item :${teacher.cour_enseigner}" th:text="${item}+', '"></span></small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-avatar" class=" form-control-label">Photo de profile</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-avatar" th:field="*{avatar}" placeholder="Cours"style="display: none" class="form-control">
                                                <input type="file"  name="file"  class="form-control-file">
                                                <small class="form-text text-muted">Photo</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a th:href="@{/direction/enseignant/lists}" class="btn btn-secondary" >Retour</a>
                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- END PAGE CONTENT-->
                    </div>
                </div>
                <!-- COPYRIGHT-->
                <section th:replace="~{../templates/fragments/footer :: footer}"></section>

                <!-- END COPYRIGHT-->
            </div>
        </section>
    </div>
    <!-- END PAGE CONTENT  -->


</div>

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>

</body>

</html>
<!-- end document-->