<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Direction</title>
    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">



    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">


    <!-- Jquery JS-->
    <script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>

</head>

<body class="animsition " >
<div th:replace="~{../templates/fragments/video_container :: video_container}"></div>
<div class="page-wrapper" id="body">
    <!-- HEADER DESKTOP-->
    <header th:replace="~{../templates/fragments/header :: header}">
    </header>
    <!-- END HEADER DESKTOP -->

    <!-- PAGE CONTENT-->
    <div class="page-container3">
        <section class="alert-wrap p-t-70 p-b-70">
            <div class="container">
                <!-- ALERT-->
                <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per" role="alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    <span th:if="${success}" class="content" th:text="${success}">Vous etes connecté successivement a votre compte</span>
                    <span th:unless="${success}" class="content">Vous etes connecté successivement a votre compte</span>
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                    </button>
                </div>
                <!-- END ALERT-->
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div th:replace="~{../templates/fragments/sidebar_director :: sidebar_director}"></div>

                    <div class="col-xl-9">
                        <!-- PAGE CONTENT-->
                        <div class="page-content">

                            <button type="button" data-toggle="modal" data-target="#addEnseignantModal" class="btn btn-primary">Nouvel enseignant&nbsp;<i class="zmdi zmdi-plus"></i></button>
                            <button type="button" id="startCall" data-toggle="modal" data-target="#contacts" class="btn btn-success">Passer un appel&nbsp;<i class="zmdi zmdi-phone"></i></button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#choice">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-phone-ring"></i>
                            </span>
                                Joindre un appel
                            </button>
                            <div th:replace="~{../templates/fragments/message :: message}"></div>
                            <button type="button" id="planning"  data-toggle="modal" data-target="#planningModal" class="btn btn-dark font-weight-bold">Planification&nbsp;<i class="zmdi zmdi-time zmdi-hc-lg"></i></button>
                            <div class="alert alert-success text-dart font-weight-bold mt-2" role="alert"  style="display: none" id="planningSuccess">
                                Reunion planifié avec success.
                            </div>
                            <hr>
                            <div th:replace="~{../templates/fragments/audio_container :: audio_container}"></div>
                            <p>Pour passer un appel video direct avec un enseignant cliquez sur le bouton vert, pour selectionner un enseignant et l'ajouter dans un groupe d'appel cliquer sur le bouton bleu </p>

                            <hr>

                            <h2>Liste des enseignants</h2>
                            <hr>
                            <div class="row"  >
                                <div class="col-lg-5 col-md-6 m-2" th:each="enseignant : ${lists}">
                                    <button type="button" data-toggle="modal" data-target="#detailEnseignantModal" style="width: 100%" th:attr="data-target='#detailEnseignantModal'+${enseignant?.id}">
                                        <div class="alert alert-dark row" role="alert">
                                        <div class="image">
                                            <img class="rounded-circle" style="width: 100px;height: 100px" th:src="${enseignant?.avatar}" alt="">
                                        </div>
                                        <div class="text-left">
                                            <strong>Nom : </strong><span th:text="${enseignant?.name}"></span> <br>
                                            <strong>Tel : </strong><span th:text="${enseignant?.telephone}"></span> <br>
                                            <!--strong>Cours : </strong><span th:text="${enseignant?.cour_enseigner}"></span-->
                                        </div>
                                    </div>
                                    </button>
                                    <a href="#" class="btn pull-right" data-toggle="modal" data-target="#deleteModal"  th:attr="data-target='#deleteModal'+${enseignant?.id}"><i class="fas fa-trash"></i></a>
                                    <div class="modal fade" th:id="detailEnseignantModal+${enseignant?.id}" tabindex="-1" role="dialog" aria-labelledby="detaiEnseignantModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="detailModalLabel">Detail Enseignant</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body card-block">
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label for="text-prenom" class=" form-control-label">Prenom</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${enseignant?.prenom}">Prenom de l'enseignant</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label for="text-nom" class=" form-control-label">Nom</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${enseignant?.name}">Nom de l'enseignant</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label for="text-telephone" class=" form-control-label">Telephone</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${enseignant?.telephone}">Numero de telephone</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label for="text-email" class=" form-control-label">E-mail</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${enseignant?.email}">Adresse email</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label for="text-whatsapp" class=" form-control-label">Whatsapp</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${enseignant?.whatsapp}">Numero de telephone whatsapp</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label for="text-cours" class=" form-control-label">Cours enseigner</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small th:each="item : ${enseignant?.cour_enseigner}" class="form-text text-muted" th:text="${item}">Cours enseigner</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                        <a  class="btn btn-primary" th:href="@{/direction/enseignant/edit/}+${enseignant?.id}">Editer</a>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" th:id="deleteModal+${enseignant?.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Supprimer Enseignant</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body card-block">
                                                        <p>Vous voulez vraiment supprimer cette enseignant??</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                        <a  class="btn btn-primary" th:href="@{/direction/enseignant/delete/}+${enseignant?.id}">Supprimer</a>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- END PAGE CONTENT-->
                    </div>
                </div>
                <!-- COPYRIGHT-->
                <section style="position: fixed" th:replace="~{../templates/fragments/footer :: footer}"></section>

                <!-- END COPYRIGHT-->
            </div>
        </section>
    </div>
    <!-- END PAGE CONTENT  -->
    <!-- modal medium -->
    <div class="modal fade" id="addEnseignantModal" tabindex="-1" role="dialog" aria-labelledby="addEnseignantModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form th:action="@{/direction/enseignant/save}" autocomplete="off" method="post" th:object="${teacher}" class="form-horizontal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Nouvel enseignant/nouveau professeur</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body card-block">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-prenom" class=" form-control-label">Prénom(Nom d'utilisateur)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-prenom" th:field="*{prenom}" placeholder="Prénom" class="form-control">
                                <small class="form-text text-muted">Prénom de l'enseignant</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-nom" class=" form-control-label">Nom</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-nom" th:field="*{name}" placeholder="Nom" class="form-control">
                                <small class="form-text text-muted">Nom de l'enseignant</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-telephone" class=" form-control-label">Telephone</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-telephone" th:field="*{telephone}" placeholder="Telephone" class="form-control">
                                <small class="form-text text-muted">Numero de telephone</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-email" class=" form-control-label">E-mail</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="email" id="text-email" th:field="*{email}" placeholder="E-mail" class="form-control">
                                <small class="form-text text-muted">Adresse email</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-whatsapp" class=" form-control-label">Whatsapp</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-whatsapp" th:field="*{whatsapp}" placeholder="Whatsapp" class="form-control">
                                <small class="form-text text-muted">Numero de téléphone whatsapp</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-cours" class=" form-control-label">Cours enseigné</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-cours" name="cour_enseigners" placeholder="Cours(Pour Plus d'un cours separe les par une virgule)" class="form-control">
                                <small class="form-text text-muted">Cours enseigné</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label  class=" form-control-label">Classes </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="checkbox" th:each="item : ${classes}" th:value="${item.id}" th:text="${item.niveau}" name="classes">
                                <!--<select name="classes" class="form-control" multiple>
                                    <option th:each="item : ${classes}" th:value="${item.id}" th:text="${item.niveau}"></option>
                                </select>-->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                        <button type="submit" class="btn btn-primary">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal medium -->
    <div th:replace="~{../templates/fragments/contacts :: contacts}"></div>
    <div th:replace="~{../templates/fragments/choice :: choice}">

    <div class="modal fade" th:id="planningModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contacts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body card-block" >
                    <ul class="text-left list-group" th:each="enseignant : ${lists}">
                        <li class="list-group-item mb-2 d-flex flex-row justify-content-between">
                            <div>
                                <span th:text="${enseignant?.name}"></span>

                            </div>
                            <div>
                                &nbsp;<input class="callInputPlanning" th:value="${enseignant?.email}" type="hidden" />
                                <button type="button"  class="btn btn-primary crewCallPlanning">&nbsp;<i class="zmdi zmdi-check"></i></button>
                                <button type="button"  class="btn btn-primary removeCallPlanning">&nbsp;<i class="zmdi zmdi-close"></i></button>
                            </div>
                        </li>
                    </ul>
                    <div class="form-group">
                        <label for="datePlanning">Date de la reunion</label>
                        <input class="form-control" placeholder="" type="date" id="datePlanning"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button id="planifier" type="button" class="btn btn-primary" data-dismiss="modal">Planifier</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>


<!-- voxeet js -->
<div th:replace="~{../templates/fragments/voxeetScript :: voxeetScript}"></div>
<!-- voxeet js -->
<!-- planification -->
<script th:src="@{/js/planification.js}"></script>


<!-- planification -->
</body>

</html>
<!-- end document-->
