<div th:fragment="audio_container"  id="audioContainer">
    <div class=" mt-2 mb-2 text-white flex-column p-2 justify-content-center align-items-stretch alert au-alert-success" id="audioComponent" style="display:none;">
        <div><span class="text-danger font-weight-bold" id="countDown" style="font-size:1.2rem"></span>&nbsp;</div>
        <div>
            <button type="button" id="stopAudio"  class="btn mb-1 btn-danger">Raccrocher&nbsp;<i class="zmdi zmdi-phone-end zmdi-hc-lg"></i></button>&nbsp;&nbsp;
            <button type="button" id="muteAudio"  class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Mute&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <i class="zmdi zmdi-volume-mute zmdi-hc-lg"></i></button>&nbsp;&nbsp;
        </div>
    </div>
</div>