<!-- HEADER DESKTOP-->
<header th:fragment="header_enseignant" class="header-desktop4">
    <div class="container">
        <div class="header4-wrap">
            <div class="header__logo">
                <a class="row" href="#">
                    <img th:if="${session.ecole?.logo}" th:src="${session.ecole?.logo}" width="60" height="60" alt="">&nbsp;&nbsp;
                    <h1 th:text="${session.ecole.name}+' -- '+${session.ecole.province}"></h1>
                </a>
            </div>
            <div class="header__tool">
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img th:src="${session.compte.avatar}" alt="John Doe" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#" th:text="${session.compte.username}">john doe</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img th:src="${session.compte.avatar}" alt="John Doe" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#" th:text="${session.compte.username}">john doe</a>
                                    </h5>
                                    <span class="email" th:text="${session.compte.email}">johndoe@example.com</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a th:href="@{/enseignant/account/detail/}+${session.compte.id}">
                                        <i class="zmdi zmdi-account"></i>Mon compte</a>
                                </div>
                                <!--div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                </div-->
                            </div>
                            <div class="account-dropdown__footer">
                                <a th:href="@{/enseignant/logout}">
                                    <i class="zmdi zmdi-power"></i>Deconnexion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER DESKTOP -->