<section th:fragment="home_welcome" class="welcome2 p-t-40 p-b-55">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome2-inner m-t-60 justify-content-center">
                    <div class="welcome2-greeting text-center">
                        <h1 class="title-6">Bonjour
                            <span th:text="${session.compte.username}">John</span>, Bienvenue</h1>
                        <p>Vous etes dans l'espace de gestion de votre ecole</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
