<div th:fragment="messenger"  xmlns:th="http://www.w3.org/1999/xhtml">
    <link th:href="@{/css/messenger.css}" rel="stylesheet">
    <div id="messengerBtn">
        <div class="icon mr-2">
            <i class="zmdi zmdi-comment zmdi-hc-2x text-primary" ></i>
        </div>
        <div>
            <button class="btn btn-primary messageBtn" id="chatBtn">Discussion instantanée</button>
        </div>
    </div>
    <div  class="chatMessenger p-2" id="chatMessenger">
        <div class="p-1 text-right w-100 border-bottom">
                <i id="chatClose" class="zmdi zmdi-hc-2x zmdi-close-circle text-danger"></i>
        </div>
        <div class="mt-2 d-flex flex-column justify-content-start align-items-start w-100">
            <div th:each="user : ${users}" class="d-flex w-100 messageBox flex-row justify-content-start align-items-center p-2 mb-1" style="border-bottom: 1px solid rgb(220,220,220)">
                <div class="mr-2">
                    <img alt="" class="img-fluid rounded-circle" style="width:30px;height: 30px" th:src="${user.avatar}"/>
                </div>
                <div th:text="${user.name}"></div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/messenger.js}"></script>
</div>