<div th:fragment="sidebar_expert" class="col-xl-3">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar3 js-spe-sidebar">
        <nav class="navbar-sidebar2 navbar-sidebar3">
            <ul th:if="${name}=='ecoles'" th:each="item : ${T(com.derteuffel.school.enums.EEcole).values()}" class="list-unstyled navbar__list">
                <li >
                    <a  th:href="@{/experts/ecoles/}+${item}" th:text="${item}">
                    </a>
                </li>
            </ul>
            <ul th:if="${name}=='professionnelle'" th:each="item : ${T(com.derteuffel.school.enums.EProfessionnelle).values()}" class="list-unstyled navbar__list">
                <li >
                    <a  th:href="@{/experts/professionnels/}+${item}" th:text="${item}">
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- END MENU SIDEBAR-->
</div>