<div th:fragment="sidebar_admin" class="col-xl-3">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar3 js-spe-sidebar">
        <nav class="navbar-sidebar2 navbar-sidebar3">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a  th:href="@{/admin/bibliotheque/lists}">
                        <i class="fas fa-home"></i>Accueil
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- END MENU SIDEBAR-->
</div>