<div th:fragment="sidebar_enseignant" class="col-xl-3">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar3 js-spe-sidebar">
        <nav class="navbar-sidebar2 navbar-sidebar3">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a  th:href="@{/enseignant/home}">
                        <i class="fas fa-home"></i>Accueil
                    </a>
                </li>
                <li class=" has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-home"></i>Classes
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul th:if="${session.salles}!= null" th:each=" class : ${session.salles}" class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a th:href="@{/enseignant/classe/detail/}+${class.id}" th:text="${class.niveau}">Dashboard 1</a>
                        </li>
                    </ul>
                </li>

                <li th:if="${classe}!=null">
                    <a  th:href="@{/enseignant/eleves/lists/}+${classe.id}">
                        <i class="fas fa-user"></i>Eleves
                    </a>
                </li>
                <li th:if="${classe}!=null">
                    <a th:href="@{/enseignant/parents/lists/}+${classe.id}">
                        <i class="fas fa-users"></i>Parents</a>
                </li>
                <li th:if="${classe}!=null">
                    <a th:href="@{/enseignant/cours/lists/}+${classe.id}">
                        <i class="fas fa-book"></i>Cours</a>
                </li>
                <li th:if="${classe}!=null">
                    <a th:href="@{/enseignant/devoirs/lists/}+${classe.id}">
                        <i class="fas fa-address-book"></i>Devoirs</a>
                </li>
                <li th:if="${classe}!=null">
                    <a th:href="@{/enseignant/reponses/lists/}+${classe.id}">
                        <i class="fas fa-bookmark-o"></i>Reponses aux devoirs</a>
                </li>
                <li th:if="${classe}!=null">
                    <a th:href="@{/enseignant/examens/lists/}+${classe.id}">
                        <i class="fas fa-bookmark"></i>Examens</a>
                </li>
                <li th:if="${classe}!=null">
                    <a th:href="@{/enseignant/message/}+${classe.id}">
                        <i class="fas fa-comments"></i>Discussions</a>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- END MENU SIDEBAR-->
</div>