<div th:fragment="sidebar_enseignant" class="col-xl-3">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar3 js-spe-sidebar">
        <nav class="navbar-sidebar2 navbar-sidebar3">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a  th:href="@{/enseignant/home}">
                        <i class="fas fa-home"></i>Accueil
                    </a>
                </li>
                <li>
                    <a  th:href="@{/enseignant/eleves/lists/}+${session.classe.id}">
                        <i class="fas fa-user"></i>Eleves
                    </a>
                </li>
                <li>
                    <a th:href="@{/enseignant/parents/lists/}+${session.classe.id}">
                        <i class="fas fa-users"></i>Parents</a>
                </li>
                <li>
                    <a th:href="@{/enseignant/cours/lists/}+${session.classe.id}">
                        <i class="fas fa-book"></i>Cours</a>
                </li>
                <li>
                    <a th:href="@{/enseignant/devoirs/lists/}+${session.classe.id}">
                        <i class="fas fa-address-book"></i>Devoirs</a>
                </li>
                <li>
                    <a th:href="@{/enseignant/reponses/lists/}+${session.classe.id}">
                        <i class="fas fa-bookmark-o"></i>Reponses aux devoirs</a>
                </li>
                <li>
                    <a th:href="@{/enseignant/examens/lists/}+${session.classe.id}">
                        <i class="fas fa-bookmark"></i>Examens</a>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- END MENU SIDEBAR-->
</div>