<div th:fragment="sidebar" class="col-xl-3">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar3 js-spe-sidebar">
        <nav class="navbar-sidebar2 navbar-sidebar3">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a  th:href="@{/direction/enseignant/lists}">
                        <i class="fas fa-users"></i>Enseignants
                    </a>
                </li>
                <li>
                    <a th:href="@{/direction/classe/lists}">
                        <i class="fas fa-home"></i>Classes</a>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- END MENU SIDEBAR-->
</div>