<div th:fragment="video_container"  id="video-super-container" style="min-height:100%;z-index:1999999999;top:0px;left:0px"  class="position-absolute   w-100 bg-dark flex-column justify-content-center align-items-center">
    <input type="hidden" th:value="${session.compte.username}" id="directorFirstName"/>
    <input type="hidden" th:value="${session.compte.email}" id="directorEmail"/>
    <input type="hidden" th:value="${session.compte.avatar}" id="directorAvatar"/>
    <input type="hidden" th:value="${session.compte.conferenceId}" id="conferenceId"/>
    <input type="hidden" th:value="${session.compte.username}" id="username"/>
    <input type="hidden" th:value="${session.compte.id}" id="userId"/>
    <input type="hidden" value=" " id="directorLastName"/>
    <div id="video-container" class="row p-1 p-md-2 m-0 d-flex flex-row justify-content-center align-items-stretch" ></div>
    <div class="mb-3 mt-3 text-center">
        <button type="button" id="stop"  class="btn btn-danger">Raccrocher&nbsp;<i class="zmdi zmdi-phone-end zmdi-hc-lg"></i></button>&nbsp;&nbsp;
        <button type="button" id="videoOff"  class="btn btn-light">&nbsp;&nbsp; &nbsp;  Video&nbsp; &nbsp; <i class="zmdi zmdi-videocam-off zmdi-hc-lg"></i></button>&nbsp;&nbsp;
        <button type="button" id="mute"  class="btn btn-warning">&nbsp; &nbsp; &nbsp; &nbsp; Mute&nbsp; &nbsp; <i class="zmdi zmdi-volume-mute zmdi-hc-lg"></i></button>&nbsp;&nbsp;
        <button type="button" id="screenShare"  class="btn btn-light">&nbsp; &nbsp; &nbsp; &nbsp; Partager&nbsp; &nbsp; <i class="zmdi zmdi-cast zmdi-hc-lg"></i></button>&nbsp;&nbsp;
    </div>
</div>