<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Encadrement</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">

</head>

<body th:each="role : ${session.compte.roles}" class="animsition">
<div class="page-wrapper">
    <!-- HEADER DESKTOP-->
    <header th:replace="~{../templates/fragments/header_encadrement :: header_encadrement}">
    </header>
    <!-- END HEADER DESKTOP -->

    <!-- PAGE CONTENT-->
    <div class="page-container3">
        <section class="alert-wrap p-t-70 p-b-70">
            <div class="container">
                <!-- ALERT-->
                <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per" role="alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    <span th:if="${success}" class="content" th:text="${success}">Vous etes connecter successivement a votre compte</span>
                    <span th:unless="${success}" class="content">Vous etes connecté successivement a votre compte</span>
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                    </button>
                </div>
                <!-- END ALERT-->
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div th:replace="~{../templates/fragments/sidebar_encadrement :: sidebar_encadrement}">
                    </div>
                    <div class="col-xl-9">
                        <!-- PAGE CONTENT-->
                        <div class="page-content">

                            <h2>Liste des enseignants</h2>
                            <hr>
                            <div class="row"  >
                                <div class="col-lg-12">
                                    <table class="table table-bordered" id="add-row">
                                        <thead>
                                        <th>Profil</th>
                                        <th>Nom</th>
                                        <th>Niveau</th>
                                        <th>Localisation</th>
                                        <th>ACTION</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="enseignant : ${lists}">
                                            <td><img class="rounded-circle" style="width: 90px;height: 90px" th:src="${enseignant?.avatar}" alt=""></td>
                                            <td th:text="${enseignant?.name}"></td>
                                            <td th:text="${enseignant?.telephone}"></td>
                                            <td ><span th:text="${enseignant?.localisation}"></span></td>
                                            <td>
                                                <button type="button" data-toggle="modal" data-target="#detailEnseignantModal" th:attr="data-target='#detailEnseignantModal'+${enseignant?.id}" class="text-success"><i class="fas fa-eye"></i></button>
                                                <a href="#" class="btn pull-right" data-toggle="modal" data-target="#deleteModal"  th:attr="data-target='#deleteModal'+${enseignant?.id}"><i class="fas fa-trash"></i></a>
                                            </td>
                                            <div class="modal fade" th:id="detailEnseignantModal+${enseignant?.id}" tabindex="-1" role="dialog" aria-labelledby="detaiEnseignantModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="detailModalLabel">Detail Encadreur   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <a class="pull-right" th:href="@{/encadrements/enseignant/eleves/}+${enseignant?.id}">Eleves encadres</a>
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body card-block">
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Prénom</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.prenom}">Prenom de l'enseignant</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Nom</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.name}">Nom de l'enseignant</small>
                                                                </div>
                                                            </div>

                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Téléphone</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.telephone}">Numero de telephone</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">E-mail</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.email}">Adresse email</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Whatsapp</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.whatsapp}">Numero de telephone whatsapp</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Cours enseigné</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:each="item:${enseignant?.cour_enseigner}" th:text="${item}">Cours enseigner</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Localisation</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.localisation}">Cours enseigner</small>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <p>Informations sur la disponibilité de l'encadreur</p>
                                                            <br>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Heure de debut journalier</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.heureDebut}">Cours enseigner</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Heure de fin journaliere</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.heureFin}">Cours enseigner</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Nombre de jour de travail par semaine</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.nbreJourParSemaine}">Cours enseigner</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Nombre de mois de travail avec nous</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.nbreMois}">Cours enseigné</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Motivation de l'encadreur</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.motivation}">Cours enseigner</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Description a aficher a l'exterieur</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.description}">Cours enseigner</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Code d'activation</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.code}">Numero de telephone whatsapp</small>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Cv</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <a th:href="${enseignant?.cv}"><small >Voir le cv</small></a>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3">
                                                                    <label  class=" form-control-label">Categorie</label>
                                                                </div>
                                                                <div class="col-12 col-md-9">
                                                                    <small class="form-text text-muted" th:text="${enseignant?.category}">Numero de telephone whatsapp</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                            <a  th:href="@{/encadrements/encadreurs/update/}+${enseignant.id}" class="btn btn-primary" >Editer</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" th:id="deleteModal+${enseignant?.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Supprimer Encadreur</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body card-block">
                                                            <p>Vous voulez vraiment supprimer cet encadreur??</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                            <a  class="btn btn-primary" th:href="@{/encadrements/encadreur/delete/}+${enseignant?.id}">Supprimer</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <!-- END PAGE CONTENT-->
                    </div>
                </div>
                <!-- COPYRIGHT-->
                <section style="position: fixed" th:replace="~{../templates/fragments/footer :: footer}"></section>

                <!-- END COPYRIGHT-->
            </div>
        </section>
    </div>
    <!-- END PAGE CONTENT  -->
</div>

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>

</body>

</html>
<!-- end document-->