<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Login</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">

</head>

<body  class="animsition">
<div class="page-wrapper">
    <div class="page-content--bge5" style="overflow:scroll; ">
        <div class="container d-flex justify-content-center row">
            <div class="login-wrap-1 col-md-6">
                <div class="login-content">
                    <div class="login-logo">
                        <a th:href="@{/}" class="text-light">
                            <i class="fa fa-arrow-left"></i> &nbsp;Retourner à la page d’accueil
                        </a><br>
                        <h2>ESPACE ENCADREMENT</h2>
                        <a href="#">
                            <img th:src="@{/images/teacher.png}" alt="CoolAdmin">
                        </a>
                    </div>
                    <div class="login-form">
                        <form th:action="@{/encadrements/login/process}"   method="post">
                            <div th:if="${success}" class="alert alert-success">
                                <span th:text="${success}"></span>
                            </div>
                            <div th:if="${param.error}">
                                <div class="alert alert-danger">Invalid username or
                                    password.</div>
                            </div>
                            <div th:if="${param.logout}">
                                <div class="alert alert-info">You have been logged out.</div>
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label">Nom d'utilisateur</label>
                                <input class="au-input au-input--full" type="text" id="username" name="username" placeholder="Nom utilisateur">
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Mot de pass</label>
                                <input class="au-input au-input--full" type="password" id="password" name="password" placeholder="Mot de pass">
                            </div>
                            <div class="login-checkbox">
                                <label>
                                    <a th:href="@{/password/forgot}">mot de passe oublié?</a>
                                </label>
                            </div>
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Connexion</button>
                        </form>
                        <div class="register-link">
                            <p>
                                Nouveau membre?
                                <a th:href="@{/encadrements/registration}">Inscrivez vous ici</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-wrap-1 col-md-6">
                <div class="login-content" style="height: 100%">
                    <div >
                        <i class="fa fa-hand-point-right fa-x"></i>&nbsp;&nbsp;
                        <p class=" text-left p-1"> Vous avez un compte? connectez-vous directement avec votre nom d'utilisateur et votre mot de passe</p>
                    </div>
                    <hr>
                    <div>
                        <i class="fa fa-hand-point-right fa-x"></i>&nbsp;&nbsp;
                        <p class=" text-left p-1"> Votre école/institution n'est pas encore membre de YesB? Prière de vous
                            <a th:href="@{/encadrements/registration}">enregistrer</a> , les équipes professionnelles et des experts de YesB vont vous prendre en charge</p>
                    </div>
                    <hr>
                    <div>
                        <i class="fa fa-hand-point-right fa-x"></i>&nbsp;&nbsp;
                        <p class=" text-left p-1">Experts YesB
                            <br>
                            <a th:href="@{/experts/ecoles}" class="btn btn-outline-light my-2" style="width: 100%">Experts YesB écoles secondaire et primaire</a>
                            <a th:href="@{/experts/universites}" class="btn btn-outline-light my-2" style="width: 100%">Appui rédaction travail fin de cycle</a>
                            <a th:href="@{/experts/professionnels}" class="btn btn-outline-light my-2" style="width: 100%">Experts YesB en formation professionnelle</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>

</body>

</html>
<!-- end document-->