<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Register</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="page-wrapper">
    <div class="page-content--bge5" style="overflow:scroll; ">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a th:href="@{/}" class="text-light">
                            <i class="fa fa-arrow-left"></i> &nbsp;Retourner à la page d’accueil
                        </a><br>
                        <h2>ESPACE ENCADREMENT</h2>
                        <a href="#">
                            <img th:src="@{/images/teacher.png}" alt="CoolAdmin">
                        </a>
                    </div>
                    <div class="login-form">
                        <form th:action="@{/encadrements/registration2}" th:object="${compte}" method="post" class="form-horizontal" autocomplete="off" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addEncadreurModalLabel">Nouvel Encadreur</h5>
                                <p th:text="${error}"></p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body card-block">
                                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                                    error</p>
                                <span class="text-danger" th:text="${error}"></span>
                                <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                                    <label class="control-label">Nom utilisateur</label>
                                    <input class="au-input au-input--full" type="text" th:field="*{username}" placeholder="Nom utilisateur">
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('username')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group" >
                                    <label class="control-label">Votre nom de famille</label>
                                    <input class="au-input au-input--full" type="text" th:field="*{name}"  placeholder="Nom">
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                    <label class="control-label">Adresse Email</label>
                                    <input class="au-input au-input--full" type="email" th:field="*{email}" placeholder="Email">
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('email')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                    <label class="control-label">Mot de passe</label>
                                    <input class="au-input au-input--full" type="password" th:field="*{password}" placeholder="Mot de passe">
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('password')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                    <label class="control-label">Mot de passe</label>
                                    <input class="au-input au-input--full" type="password" th:field="*{confirmPassword}" placeholder="Confirmer mot de passe">
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('confirmPassword')}"
                                       th:text="${error}">Validation error</p>
                                </div>

                                <div class="form-group" >
                                    <label class="control-label">Votre numero de  téléphone</label>
                                    <input class="au-input au-input--full" type="text" th:field="*{telephone}"  placeholder="Numero de telephone">
                                </div>
                                <div class="form-group" >
                                    <label class="control-label">Photo</label>
                                    <input class="au-input au-input--full" type="file" name="picture"  >
                                </div>
                                <div class="form-group" >
                                    <label class="control-label">Votre numero whatsapp</label>
                                    <input class="au-input au-input--full" type="text" th:field="*{whatsapp}"  placeholder="Numero whatsapp">
                                </div>
                                <div class="form-group" >
                                    <label class="control-label">Votre Localisation</label>
                                    <input class="au-input au-input--full" type="text" th:field="*{localisation}"  placeholder="Localisation">
                                </div>
                                <div class="form-group autocomplete" >
                                    <label class="control-label">Votre Pays</label>
                                    <input class="au-input au-input--full" type="text" id="text-country" th:field="*{pays}"  placeholder="Votre pays">
                                </div>
                                <div class="form-group" >
                                    <label class="control-label">Cours de reference</label>
                                    <input class="au-input au-input--full" type="text" name="cour_enseigners" placeholder="Cours(Pour Plus d'un cours separe les par une virgule)">
                                </div>
                                <hr><p>Informartions sur votre disponibilité</p>
                                <br>
                                <div class="form-group" >
                                    <label class="control-label">Heure de debut de journée</label>
                                    <input class="au-input au-input--full" type="time" th:field="*{heureDebut}"  placeholder="Heure debut">
                                </div>
                                <div class="form-group" >
                                    <label class="control-label">Heure de fin de journée</label>
                                    <input class="au-input au-input--full" type="time" th:field="*{heureFin}"  placeholder="Heure debut">
                                </div>

                                <div class="form-group" >
                                    <label class="control-label">Nombre de jour par semaine</label>
                                    <input class="au-input au-input--full" type="number" th:field="*{nbreJourParSemanie}"  placeholder="Nombre de jour par semaine">
                                </div>
                                <div class="form-group" >
                                    <label class="control-label">Nombre de mois</label>
                                    <input class="au-input au-input--full" type="number" th:field="*{nbreMois}"  placeholder="Nombre de mois">
                                </div>
                                <!--<div class="form-group" >
                                    <label class="control-label">Salaire souhaite</label>
                                    <select th:field="*{salaire}" class="form-control" >
                                        <option th:each="amount :${amounts}" th:value="${amount}" th:text="${amount+'$'}"></option>
                                    </select>
                                </div>-->
                                <div class="form-group" >
                                    <label class="control-label">Charger votre cv</label>
                                    <input class="au-input au-input--full" type="file" name="file"  placeholder="Nombre de mois">
                                </div>
                                <div class="form-group" >
                                    <label class="control-label">Vos motivations</label>
                                    <textarea th:field="*{motivation}"  class="form-control" rows="5" placeholder="Entrez en quelques mots vos motivations ici"></textarea>
                                </div>
                                <div class="form-group" >
                                    <label class="control-label">Profil visible au public:</label>
                                    <textarea th:field="*{description}"  class="form-control" rows="7" placeholder="(Notez que ce qui est écrit sera visible par le public )
- Nombre d’année d’expérience
- un mot pour motiver les futurs étudiants et élèves
- les avantages pour quelqu’un de suivre cette formation, ça débouche à quoi?
- Qui sont ceux qui peuvent suivre cette formation

-"></textarea>

                                </div>


                                <div class="modal-footer">
                                    <a th:href="@{/encadrements/registration}" class="btn btn-secondary" >Retour</a>
                                    <button type="submit" class="btn btn-primary">Créer</button>
                                </div>
                            </div>
                        </form>

                        <div class="register-link">
                            <p>
                                Deja un compte?
                                <a th:href="@{/encadrements/login}">Connectez-vous</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/countries.js}"></script>

</body>

</html>
<!-- end document-->