<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Experts</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span"> </span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item active">
                                            <a th:href="@{/}">Accueil</a>
                                        </li>
                                        <li class="list-inline-item seprate">
                                            <span>/</span>
                                        </li>
                                        <li class="list-inline-item"><a th:href="@{/encadrements/login}">Expert</a></li>
                                    </ul>
                                </div>
                                <form class="au-form-icon--sm" action="" method="">
                                    <img th:src="@{/images/logo.png}" width="150" height="90" alt="">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="title-4">Decouvrez les profils de nos experts
                            </h1>
                            <hr class="line-seprate">
                        </div>
                        <div class="col-md-12 alert-success" th:if="${success}">
                            <h5 class="title-4">
                                <span th:text="${success}"></span>
                            </h5>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->


            <div class="statistic statistic2">
                <div class="container-fluid">
                    <div class="row">
                        <div th:replace="~{../templates/fragments/sidebar_expert :: sidebar_expert}">

                        </div>
                        <div class="col-xd-9" th:if="${#lists.size(lists)}==0">
                            <h2><span>Aucun élément trouver pour cette recherche</span></h2>
                            <a th:if="${name}=='ecoles'" th:href="@{/experts/ecoles}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Retourner</a>
                            <a th:if="${name}=='professionnelle'" th:href="@{/experts/professionnels}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Retourner</a>
                        </div>
                        <div class="col-xl-9 row" th:unless="${#lists.size(lists)}==0">
                            <div class="col-md-4" th:each="item : ${lists}">
                            <button type="button" data-toggle="modal" data-target="#detailExpertModal" style="width: 100%" th:attr="data-target='#detailExpertModal'+${item?.id}">
                                <div class="card">
                                <div class="card-body">
                                    <div class="mx-auto d-block">
                                        <img class="rounded-circle mx-auto d-block" th:src="${item.avatar}" style="height: 100px;width: 100px" alt="Card image cap">
                                        <h5 class="text-sm-center mt-2 mb-1"><span th:text="${item.name+' '+item.prenom}"></span></h5>
                                        <div class="location text-sm-center">
                                            <i class="fa fa-map-marker"></i> <span th:text="${item.localisation}"></span>, <span th:text="${item.pays}"></span></div>
                                    </div>
                                    <hr>
                                    <div class="card-text text-sm-center">
                                        <span th:text="${item.category}">Expert YesB Redaction de travail de fin de cycle</span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <strong class="card-title mb-3"><span th:text="${item.cour_enseigner[0]}">Expert YesB Formation professionnelle</span></strong>
                                </div>
                            </div>
                            </button>
                            <div class="modal fade" th:id="detailExpertModal+${item?.id}" tabindex="-1" role="dialog" aria-labelledby="detailExpertModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg " role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Plus d'informations</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body card-block mx-5">
                                            <div class="modal-content p-3 text-left">
                                                <p><h3 >Motivations de l'expert</h3>
                                                <span th:text="${item?.motivation}"></span>
                                                </p>
                                                <hr>
                                                <p><h3 >Qualites de l'expert</h3>
                                                    <span th:text="${item?.description}"></span>
                                                </p>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- COPYRIGHT-->
            <section th:replace="~{../templates/fragments/footer :: footer}"></section>

            <!-- END COPYRIGHT-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap JS-->
    <script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
    <!-- Vendor JS       -->
    <script th:src="@{/vendor/slick/slick.min.js}">
    </script>
    <script th:src="@{/vendor/wow/wow.min.js}"></script>
    <script th:src="@{/vendor/animsition/animsition.min.js}"></script>
    <script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
    <script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
    <script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
    </script>
    <script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
    <script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
    <script th:src="@{/vendor/select2/select2.min.js}">
    </script>

    <!-- Main JS-->
    <script th:src="@{/js/main.js}"></script>

</body>

</html>
<!-- end document-->