<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Accueil</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span"> </span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item active">
                                            <a th:href="@{/}">Accueil</a>
                                        </li>
                                        <li class="list-inline-item seprate">
                                            <span>/</span>
                                        </li>
                                        <li class="list-inline-item">Gestion</li>
                                    </ul>
                                </div>
                                <form class="au-form-icon--sm" action="" method="">
                                    <img th:src="@{/images/logo.png}" width="150" height="90" alt="">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="title-4">Bienvenue!
                            </h1>
                            <hr class="line-seprate">
                        </div>
                        <div class="col-md-12 alert-success" th:if="${success}">
                            <h5 class="title-4">
                                <span th:text="${success}"></span>
                            </h5>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->

            <!-- STATISTIC-->
            <section class="statistic statistic2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <a th:href="@{/direction/login}" style="width: inherit" class="btn">
                                <div class="statistic__item statistic__item--green text-justify">
                                <h2 class="number">Direction-</br>Responsable</h2>
                                <span class="desc">Espace reserve uniquement aux </br>directeurs/responsables</br> des écoles/institutions</span>
                                <div class="icon">
                                    <img th:src="@{/images/director.png}">
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <a th:href="@{/parent/login}" style="width: inherit" class="btn">
                                <div class="statistic__item statistic__item--orange text-justify">
                                <h2 class="number">Parent/Elèves</h2>
                                <span class="desc">Espace reserve aux parents et élèves </br> pour le suivis des enseignements des </br>cours</span>
                                <div class="icon">
                                    <img th:src="@{/images/guardian.png}">
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <a th:href="@{/enseignant/login}" style="width: inherit" class="btn">
                                <div class="statistic__item statistic__item--blue text-justify">
                                <h2 class="number">Enseignant</h2>
                                <span class="desc">Espace réservé uniquement aux </br>enseignants  enregistrés dans</br> des écoles/institutions</span>
                                <div class="icon">
                                    <img th:src="@{/images/teacher.png}">
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <a th:href="@{/encadrements/login}" style="width: inherit" class="btn">
                                <div class="statistic__item statistic__item--red text-justify">
                                    <h2 class="number">Encadrement</h2>
                                    <span class="desc">- Elèves secondaire et primaire, </br>- Appui+ rédaction travail fin </br> de cycle</br>- Formation professionnelle</br>- Stage professionnelle </span>
                                    <div class="icon">
                                        <img th:src="@{/images/teacher.png}">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->

            <!-- STATISTIC CHART-->
            <section class="statistic-chart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">A propos</h3>
                            <div class="px-3">
                                <p>L’espace virtuel <a href="http://www.ecoles.yesbanana.org">ecoles.yesbanana.org</a> permet de garder un réel contact avec votre école/institution pour poursuivre l’enseignement à la maison ou à distance. L’avantage est que l’enseignement est dispensé par l’école/institution de l’enfant/étudiant. Ce contact reste assuré par les étudiants, élèves, les enseignants, la direction/responsable et les parents à travers des cours, des devoirs et de la communication en temps réel.

                                    Il est une continuation de l’enseignement dispensé à l’école/institution  en temps normal. Et au cas où l'étudiant et enseignant/professeur n’ont pas accès à la salle physique, ce cadre permet de combler le gap.
                                    </br>



                                    Le site <a href="http://www.ecoles.yesbanana.org">ecoles.yesbanana.org</a> est une entité de la plateforme <a href="http://www.yesbanana.org">Yesbanana</a> qui est une propriété de la fondation Joseph B. dédiée à l’amélioration de la qualité de l'éducation.  Plusieurs domaines sur l’encadrement des étudiants et élèves sont en plein développement sur le site www.yesbanana.org.

                                    En partenariat avec plusieurs institutions, ce cadre reponds aux objectifs des Ministères de l’éducation en Afrique de multiplier des espaces de formation des jeunes et enfants africains.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC CHART-->


            <!-- COPYRIGHT-->
            <section th:replace="~{../templates/fragments/footer :: footer}"></section>

            <!-- END COPYRIGHT-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap JS-->
    <script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
    <!-- Vendor JS       -->
    <script th:src="@{/vendor/slick/slick.min.js}">
    </script>
    <script th:src="@{/vendor/wow/wow.min.js}"></script>
    <script th:src="@{/vendor/animsition/animsition.min.js}"></script>
    <script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
    <script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
    <script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
    </script>
    <script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
    <script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
    <script th:src="@{/vendor/select2/select2.min.js}">
    </script>

    <!-- Main JS-->
    <script th:src="@{/js/main.js}"></script>

</body>

</html>
<!-- end document-->