<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Direction</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER DESKTOP-->
    <header th:replace="~{../templates/fragments/header :: header}">
    </header>
    <!-- END HEADER DESKTOP -->

    <!-- PAGE CONTENT-->
    <div class="page-container3">
        <section class="alert-wrap p-t-70 p-b-70">
            <div class="container">
                <!-- ALERT-->
                <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per" role="alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    <span th:if="${success}" class="content" th:text="${success}">Vous etes connecter successivement a votre compte</span>
                    <span th:unless="${success}" class="content">Vous etes connecté successivement a votre compte</span>
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                    </button>
                </div>
                <!-- END ALERT-->
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div th:replace="~{../templates/fragments/sidebar_director :: sidebar_director}">
                    </div>
                    <div class="col-xl-6">
                        <!-- PAGE CONTENT-->
                        <div class="page-content">

                            <button type="button" data-toggle="modal" data-target="#addModal" class="btn btn-primary">Ajouter&nbsp;<i class="zmdi zmdi-plus"></i></button>
                            <hr>
                            <h3>Liste des enseignants <span th:text="${classe.niveau}"></span></h3>
                            <hr>
                            <div class="row"  >
                                <table class="table table-bordered" id="add-row">
                                    <thead>
                                    <th>Profil</th>
                                    <th>Nom</th>
                                    <th>Niveau</th>
                                    <th>Cours enseigner</th>
                                    <th>ACTION</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="enseignant : ${lists}">
                                        <td><img class="rounded-circle" style="width: 90px;height: 90px" th:src="${enseignant?.avatar}" alt=""></td>
                                        <td th:text="${enseignant?.name}"></td>
                                        <td th:text="${enseignant?.telephone}"></td>
                                        <td ><span th:each="item : ${enseignant.cour_enseigner}" th:text="${item}"></span></td>
                                        <td>
                                            <button type="button" data-toggle="modal" data-target="#detailEnseignantModal" th:attr="data-target='#detailEnseignantModal'+${enseignant?.id}" class="text-success"><i class="fas fa-eye"></i></button>
                                            <!--button type="button" data-toggle="modal" data-target="#deleteModal" th:attr="data-target='#deleteModal'+${enseignant?.id}" class="text-danger"><i class="fas fa-trash"></i></button-->
                                        </td>
                                        <div class="modal fade" th:id="detailEnseignantModal+${enseignant?.id}" tabindex="-1" role="dialog" aria-labelledby="detaiEnseignantModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="detailModalLabel">Detail Enseignant</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body card-block">
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label for="text-prenom" class=" form-control-label">Prenom</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${enseignant?.prenom}">Prenom de l'enseignant</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label for="text-nom" class=" form-control-label">Nom</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${enseignant?.name}">Nom de l'enseignant</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label for="text-telephone" class=" form-control-label">Telephone</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${enseignant?.telephone}">Numero de telephone</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label for="text-email" class=" form-control-label">E-mail</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${enseignant?.email}">Adresse email</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label for="text-whatsapp" class=" form-control-label">Whatsapp</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small class="form-text text-muted" th:text="${enseignant?.whatsapp}">Numero de telephone whatsapp</small>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col col-md-3">
                                                                <label for="text-cours" class=" form-control-label">Cours enseigner</label>
                                                            </div>
                                                            <div class="col-12 col-md-9">
                                                                <small th:each="item : ${enseignant?.cour_enseigner}" class="form-text text-muted" th:text="${item}">Cours enseigner</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                        <a  class="btn btn-primary" th:href="@{/direction/enseignant/edit/}+${enseignant?.id}">Editer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--div class="modal fade" th:id="deleteModal+${enseignant?.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Supprimer Enseignant</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body card-block">
                                                        <p>Vous voulez vraiment supprimer cette enseignant??</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                        <a  class="btn btn-primary" th:href="@{/direction/enseignant/delete/}+${enseignant?.id}">Supprimer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- END PAGE CONTENT-->
                    </div>
                    <div class="col-xl-3">
                        <h3 class="title-1 m-b-25">Gestion de la classe</h3>
                        <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                            <div class="au-card-inner">
                                <div class="table-responsive">
                                    <table class="table table-top-countries">
                                        <tbody>
                                        <tr>
                                            <td><a class="text-white" th:href="@{/direction/enseignant/classe/}+${classe?.id}">Enseignants</a></td>
                                        </tr>
                                        <tr>
                                            <td><a class="text-white" th:href="@{/direction/classe/eleves/}+${classe?.id}">Eleves</a></td>
                                        </tr>
                                        <tr>
                                            <td><a class="text-white" th:href="@{/direction/classe/parents/}+${classe?.id}">Parents</a></td>
                                        </tr>
                                        <tr>
                                            <td><a class="text-white" th:href="@{/direction/classe/hebdos/}+${classe?.id}">Planning hebdomadaire</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COPYRIGHT-->
                <section th:replace="~{../templates/fragments/footer :: footer}"></section>

                <!-- END COPYRIGHT-->
            </div>
        </section>
    </div>
    <!-- END PAGE CONTENT  -->
    <!-- modal medium -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form th:action="@{/direction/classe/add/enseignant/}+${classe?.id}" autocomplete="off" method="get"  class="form-horizontal">

                    <div class="modal-body card-block">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label  class=" form-control-label">Enseignant</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="enseignantId" class="form-control">
                                    <option value="">Choisir un enseignant</option>
                                    <option th:each="teacher:${teachers}" th:value="${teacher.id}" th:text="${teacher.name}+' '+${teacher.prenom}">Choisir un enseignant</option>
                                </select>
                                <small class="form-text text-muted">Prénom de l'enseignant</small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal medium -->

</div>

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>
<script >
    $(document).ready(function() {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 10,
        });

    });
</script>
<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/datatables.min.js}"></script>

</body>

</html>
<!-- end document-->